# ==========================================
# 通用 Git 忽略
# ==========================================
.DS_Store
.Thumbs.db
*.log
*.tmp
*.temp
.idea/
.vscode/
*.swp
*.bak

# ==========================================
# tModLoader 模组专用忽略
# ==========================================
/bin/
/obj/
/Bin/
/Obj/
/build/
/dist/


# 本地配置、保存、缓存
.csharpierrc
.vs/